/* Universal Selector - * */
*{
    background-color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Element selecton h1{} , p{} */
h1{
    font-size: 14;
}  
p{
    background-color: beige;
    color: brown;
}
/* id selector - #myID */
#h1{
    color: aqua;
}
#h2{
    color: chocolate;
}
#h3{
    color: darkgreen;
}
/* Class Selector - .MyClass{}*/
.class1{
    background-color: #fff;
}

/* text align */
p{
    text-align: center;
}
/* text decoration */
a{
    text-decoration: none;
}
#heading{
    text-decoration: brown wavy underline;
    text-align: center;
}
/* font-weight (100-900) - normal bold , bolder , lighter */
#h1{
    font-weight: lighter;
}
#para1{
    font-weight: 530;
}