#heading{
    border: 1.5px solid black;
    text-align: center;
    text-decoration: brown dashed underline;
}
table , th , td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
    margin-left: 37.5%;
}
table , tr,th{
    background: blanchedalmond;
}
table , td:nth-child(even){
    background-color: #fff;
}